*{
   box-sizing: border-box;
   margin: 0 auto;
   padding: 0;
}

html, body {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background: url("https://cutewallpaper.org/21/game-of-thrones-phone-background/1920x1080-Game-Of-Thrones-Background-Spiritedmusepress.com.jpg") no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

h3 {
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    border: solid 1px black;
    width: 100%;
    height: 4rem;
    padding-top: 14px;
    background-color: white;
}

.row {
    min-height: 3rem;
}

.gotPlayer {
    padding-top: 15px;
}

.questionContainer{
    color: white;
}

.align-center {
    text-align: center;
}

.align-center2 {
    text-align: center;
}

.containerScore{
    margin: 0 auto;
    width: 300px;
}

.container1 {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    padding: 0;
}

.rowGOT, #gotR{
    display: block;
}

.rowGOT{
    width: 100%;
    max-width: 600px;
    padding: 0;
    text-align: center;
}

#gotR{
    padding: 5px;
}

#displayTimer {
    text-align: center;
    font-size: 12px;
    border: solid black 1px;
    font-weight: bold;
    height: 3rem;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
}

.container1, #displayTimer{
    display: block;
}

.containerScore, #score{
    display: block;
}

#score {
    border: solid black 1px;
    font-weight: bold;
    font-size: 18px;
    height: 3rem;
    text-align: center;
    margin: 0 auto;
    background-color: white;

}

button.answerContainer {
    width: 100%;
    text-align: center;

}

#start-button { 
    background-color: transparent;
    border: solid white;
}

.answerContainer {
    width: 100%;
    border: solid black 1px;
    text-align: left;
    margin-top: 1rem;
    height: 3rem;
    background-color: white;
}

.optionContainer {
    width: 100%;
    border: solid blue 1px;
    background-color: lightblue;
    text-align: left;
    margin-top: 1rem;
    height: 3rem;
}

.introText {
    background-color:transparent;
    color: white;
    font-size: 1rem;
    text-align: center;
}